/* ========================================================================================= */
/* COMPONENT - C FOOTER */
/* ========================================================================================= */

.c-footer{
    font-size: 11px; 
    text-align: center;

    &__link{
        color: hsl(228, 45%, 44%);
    }
}

/* ========================================================================================= */
/* END COMPONENT - C FOOTER */
/* ========================================================================================= */
